{% extends 'dashboard.html' %}
{% block content %}
<div>
    <h3>Add Student</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" required><br><br>
        <label for="no">Roll no:</label>
        <input type="text" name="no" required><br><br>
        <label for="cls">Class</label>
        <select name="cls">
            {% for x in data %}
            <option value="{{x.id}}">{{x.class_name}}</option>
            {% endfor %}
        </select><br><br>
        <label for="email">Email</label>
        <input type="text" name="email" required><br><br>
        <label for="dob">Date of Bitth</label>
        <input type="text" name="dob" required><br><br>
        <button type="submit">ADD</button>
    </form>
</div>

{% endblock %}